body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

h1{
  font-size: 100px;
  margin: 120px 0 40px 0;
}

h2{
  font-size: 70px;
  margin: 0;
}

h3{
  margin: 30px 70px;
  font-size: 30px;
}

img{
  max-width: 500px;
  max-height: 500px;
  margin: 7vw;
  display: block;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
}

ul {
  margin: 10px 0;
  padding-left: 20px;
  line-height: 25px;
}

.center{
  text-align: center;
}

.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.container{
  display: flex;
  max-width: 100%;
  margin: 0 auto;
  justify-content: center;
}

.textbox{
  max-height: 500px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
  margin: 120px 30px !important;
  /* margin: 40px 30px !important; */
  padding: 40px 35px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.text{
  font-size: 30px;
}

.long-image{
  max-height: 371px;
}

/* input box from template
https://www.bilibili.com/video/BV1gMSxBmEaw/?spm_id_from=333.337.search-card.all.click&vd_source=4b1c927c6266ba086755a8b5456590e8
will be cited in readme
*/

*::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.form{
  position: relative;
  width: 100%;
  max-width:
  20rem;
}

.input{
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  padding: 0.8em;
  background: none;
  color: black;
  border: 2px solid gray;
}

.input:hover{
  border-color: var(--clr-primary-light);
}

.input:focus{
  border-color: var(--clr-primary-light);
}

.input:focus + .label,
.input:not(:placeholder-shown) + .label{
  transform: translateY(-100%) scale(0.8);
}

/* done of */

.interaction{
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 10px;
  height: 100px;
  width: 100%;
  margin: 20px 0;
}

.btn {
  background-color: rgb(232, 150, 150);
  color: white;
  border: none;
  width: 100px;
  height: 40px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(157, 81, 81);
  transform: scale(1.02);
}

.label{
  color: rgb(82,28,28);
  position: absolute;
  top: 0.8em;
  left: 0.8em;
  cursor: text;
  background-color: white;
  padding: 0 0.5em;
  transition: transform 200ms ease-in;
  transform-origin: top left;
}

.btn:active{
  background-color: #077d8c;
  transform: scale(1.05);
}

.btn-group{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 20px;
}

.cir{
  width: 80px;
  height: 80px;
  margin: 0;
  border-radius: 40px;
  display: inline;
  box-shadow: none;
}

.response{
  margin: 100px 100px;
  display: flex;
}

.var{
  margin: 20px 50px;
}

.social-icon {
  margin: 0 10px;
  font-size: 24px;
  color: #333;
}

.back-to-top{
  margin-left: auto;
  align-self: flex-end;
  display: inline-block;
  padding: 10px 20px;
  background-color: #3a2020;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-size: 18px;
  transition: background 0.3s ease, transform 0.2s ease;
}

.back-to-top:hover {
  background-color: #3d2727;
  transform: translateY(-3px);
}

.back-to-top:active {
  transform: translateY(0);
  background-color: #ffffff;
}

#footer {
  background:rgb(136, 79, 79);
  text-align: center;
  padding: 5% 15% 3% 15%;
}

.back{
  display: flex;
  margin: 0px 50px 50px 0;
}

.pic:hover{
  transform: scale(0.95);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
}

.footer-text{
  color: rgb(60, 56, 56);
  line-height: 0.8;
}
.head{
  margin: 120px 0 40px 50px;
  font-size: 50px;
}

.des{
  margin: 10px 100px;
}

.logo{
  width: 300px;
  margin: 4vw 7vw 0 100px;
}

.prj{
  max-height: 500px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
  /* margin: 40px 30px !important; */
  display: flex;
  align-items: center;
  flex-direction: column;
}

.new{
  margin: 0;
}

.vi{
  gap: 30px;
  margin-bottom: 50px;
}

.prj a:hover{
  transform: scale(0.98);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
}

.prj a:active{
  transform: scale(0.95);
  box-shadow: 0 0 40px rgba(100, 50, 50, 0.3);
}

@media (max-width: 950px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .text {
    padding: 20px; 
  }

  .textbox{
    margin: 0px;
    padding: 10px;
  }

  h2{
    margin: 30px 0;
  }
}