/* COGS3 studyBuddy specific styles go here. */
#title {
  background-color: #00bcd4;
  z-index: 1;
  position: relative;
}

.container-fluid {
  padding: 3% 15%;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
  color: white;
}

h2 {
  color: white;
  font-family: "Montserrat";
  font-size: 1.5;
  font-weight: bold;
}

h3 {
  font-family: "Montserrat";
  font-weight: bold;
}

p {
  color: #8f8f8f;
}

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar-item {
  padding: 0 18px;
}

.nav-link {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
}

.download-button {
  margin: 5% 3% 5% 0;
}

.title-image {
  width: 60%;
  transform: rotate(20deg);
  z-index: -1;
  position: absolute;
}

#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.icon {
  color: orange;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #8fdbf2;
}

#testimonials {
  padding: 3% 0%;
  text-align: center;
  background-color: #00bcd4;
}

.carousel-item {
  padding: 7% 15%;
}

.testimonial-image {
  width: 10%;
  border-radius: 50%;
  margin: 10px;
}

.testimonial-text {
  max-width: 700px;
  margin: 0 auto;
}

#press {
  background-color: #00bcd4;
  text-align: center;
}

.press-logo {
  width: 10%;
  margin: 20px 20px 50px;
}

.carousel-item {
  transition: transform 0.6s ease-in-out;
}

#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-header {
  color: #000;
}

.pricing-column {
  padding: 3% 2%;
}

#cta{
  background-color: #00bcd4;
  color: #fff;
  padding: 7% 15%;
  text-align: center;
}

.cta-heading {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 1.5;
}

#footer{
  padding: 7% 15%;
  text-align: center;
}

.social-icon{
  margin: 20px 10px;
}

.cost{
  font-weight: bold;
  font-size: 1.5rem;
}

@media (max-width: 1028px){
  #title{
    text-align:center;
  }
  .title-image{
    position: static;
    transform: rotate(0);
  }
}